body {
    background-color: #ccc;
}

header {
    text-align: center;
}

#title {
    /*xt-align:center;*/
}

#main {
    padding: 50px;
}

#img-div {}

#img-caption {
    text-align: center;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 10px;
}

#tribute-video {
    text-align: center;
}

footer {
    text-align: center;
}